<!DOCTYPE html><html>
<head><meta charset=UTF-8>
    <link rel=stylesheet href=https://unpkg.com/element-ui/lib/theme-chalk/index.css><link href=/static/css/app.032ab04a0a9486c313d9884150bee592.css rel=stylesheet></head><body><div id=app><el-button @click="visible = true">Button</el-button><el-dialog :visible.sync=visible title="Hello world"><p>Try Element</p></el-dialog></div><script type=text/javascript src=/static/js/manifest.2ae2e69a05c33dfc65f8.js></script><script type=text/javascript src=/static/js/vendor.efab35e4396038085976.js></script><script type=text/javascript src=/static/js/app.cda9eea43bd2acedfa05.js></script></body><script src=https://unpkg.com/vue/dist/vue.js></script><script src=https://unpkg.com/element-ui/lib/index.js></script><script>new Vue({
    el: '#app',
    data: function() {
      return { visible: false }
    }
  })</script></html>